default_stages: [pre-commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0 # Replace with the correct latest version
    hooks:
      - id: prettier
        args: [--write]
        files: \.(js|jsx|ts|tsx|css|scss|json|yaml|yml|md|graphql|gql|schema\.json)$
  - repo: local
    hooks:
      - id: unit-tests
        name: run unit tests
        language: node
        entry: bun test
        pass_filenames: false
  - repo: local
    hooks:
      - id: eslint-console
        name: eslint check for console app
        language: node
        entry: npx eslint --config apps/console/eslint.config.js --max-warnings=0 --fix
        pass_filenames: true
        files: ^apps/console/.*\.(js|jsx|ts|tsx)$
