/* Custom CSS for the questionnaire designer */
/* .svc-designer-header .svc-surface-header {
    background-color: #082930 !important;
    @media (prefers-color-scheme: dark) {
        background-color: #bdd9e1 !important;
    }
} */

.svc-surface-header .sd-title {
    font-family: var(--font-mincho) !important;
}

/* .svc-question__adorner .sv-action-bar-item {
    color: #082930 !important;
}

.sv-action-bar-item sv-action-bar-item--icon {
    color: #ffffff !important;
} */