@import '@repo/ui/styles.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-text-paragraph font-sans bg-[var(--color-bg)];
}

h4 {
  @apply text-3xl text-text-header tracking-[-0.038rem] mb-10 w-full font-serif;
}

h5 {
  @apply text-[1.313rem] tracking-[-0.033rem];
}

p {
  @apply text-text-paragraph;
}

p.red {
  @apply text-red-500;
}

.aui-thread-root {
  @apply bg-background;
}

.aui-thread-welcome-suggestion {
  @apply flex-col hover:bg-accent-secondary-muted;
}

.aui-thread-welcome-suggestion-container {
  @apply flex-col;
}

.aui-modal-button {
  @apply bg-accent-secondary-muted text-text-dark;
}

.aui-avatar-image {
  @apply bg-accent-secondary-muted;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.rich-text ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* same as list-inside */
  margin: 0.5rem 0;
}
.rich-text li {
  margin-bottom: 0.25rem;
}
