@layer ui_base, ui_components_utils;

@layer ui_base {
  @import 'tailwindcss/base';

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [type='text']:focus,
  [type='password']:focus,
  input:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: var(--colors-ring);
    border-color: var(--colors-ring);
  }
}

@layer ui_components_utils {
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
}

/* Ensures that icons scale with font size */
.button-icon svg {
  width: 1rem;
  height: 1rem;
}

/* Light Mode Colors */
:root {
  /* Button */
  --color-button: #2ccbab;
  --color-button-muted: #75d2bf;
  --color-button-light: #e8f9f5;
  --color-button-text: #082930;
  --color-button-secondary: #d9ae40;
  --color-button-back: #e2efeb;

  /* Assets */
  --asset-color-bg: #DAE3E7;

  /* Background */
  --color-bg: #f9fbfc;
  --color-bg-dark: #1c2630;
  --color-bg-light: #e9f1f5;
  --color-bg-primary: #2ccbab;
  --color-bg-secondary: #ffffff;
  --color-bg-muted: #f5f9fa;

  /* Accent */
  --color-accent: #d9ae40;
  --color-accent-muted: #fbd079;
  --color-accent-secondary: #2ccbab;
  --color-accent-secondary-muted: #75d2bf;

  /* Border */
  --color-border: #aabec5;
  --color-border-light: #aabec5;
  --color-border-dark: #303e4a;
  --color-separator: #b4c1d5;
  --color-separator-light: #b4c1d5;
  --color-separator-dark: #273344;
  --color-separator-edit: #bfbfbf;
  --color-separator-edit-light: #bfbfbf;
  --color-separator-edit-dark: #60737a;

  /* Text */
  --color-text-header: #303e4a;
  --color-text-paragraph: #505f6f;
  --color-text-dark: #1c2630;
  --color-text-light: #aabec5;
  --color-text-nav-link: #303e4a;
  --color-text-dimmed: #8998a9;

  /* Panel */
  --color-panel-bg: #ffffff;
  --color-panel-text: #303e4a;
  --color-panel-border: #e9c1bb;

  /* Card */
  --color-card-bg: #ffffff;
  --color-card-text: #303e4a;

  /* Tags */
  --color-tags-bg: #d9ae40;
  --color-tags-text: #082930;
  --color-tags-border: #082930;

  /* Popover */
  --color-popover: #ffffff;

  /* Ring */
  --color-ring: #2ccbab;

  /* Table */
  --color-table-bg: #ffffff;
  --color-table-text: #303e4a;
  --color-table-row-bg-hover: #f5f9fa;
  --color-table-row-bg-odd: #eaf0f3;
  --color-table-row-bg-even: #ffffff;
  --color-table-border-muted: #e9f1f5;
  --color-table-border: #b3c8d1;
  --color-table-header-bg: #f5f5f5;
  --color-table-header-text: #303e4a;

  /* Gradient */
  --color-gradient-light: linear-gradient(90deg, #2ccbab 0%, #59c1bb 100%);
  --color-gradient-dark: linear-gradient(90deg, #2ccbab 0%, #998da0 100%);

  /* Brand */
  --color-brand: #2ccbab;
  --color-brand-secondary: #59c1bb;

  /* Logo */
  --color-logo-bg: #303e4a;
  --color-logo-text: #303e4a;
  --color-logo-fg: #4dc6ad;
  --color-logo-dark: #303e4a;
  --color-logo-light: #b4c1d5;

  /* Login */
  --color-login-bg: #ffffff;
  --color-login-text: #303e4a;

  /* Status */
  --color-status-success: #2ccbab;
  --color-status-warning: #f5cb5c;
  --color-status-error: #e05252;
  --color-status-info: #3498db;
  --color-status-success-muted: #a3e3d4;
  --color-status-warning-muted: #fde0ae;
  --color-status-error-muted: #f5b8b8;
  --color-status-info-muted: #5a9bd5;

  /* Alert */
  --color-destructive: #dc2626;
  --color-destructive-transparent: #dc26261a;
  --color-destrucitve-border: #fecaca;
  --color-destructive-foreground: #f0fdf9;

  /* progressbar */

  --color-progressbar-empty: #dae3e7;

  /* inputs */

  --color-input-background: #f9fbfc;
  --color-input-text: #505f6f;

  /* notes */
  --color-warning-muted-more: #fff1da;

  --color-warning-banner: #d8ae3f;

  /* auth */

  --color-background-auth: #eff4f7;

  /* JSON Editor */
  .svc-json-editor-tab__content-area {
    background-color: var(--color-bg);
  }
}

/* Dark Mode Colors */
.dark {
  /* Button */
  --color-button: #2ccbab;
  --color-button-muted: #75d2bf;
  --color-button-text: #082930;
  --color-button-secondary: #b48f31;
  --color-button-back: #96a09d;

  /* Assets */
  --asset-color-bg: #374A52;

  /* Background */
  --color-bg: #0d1117;
  --color-bg-dark: #0d1117;
  --color-bg-muted: #161d27;
  --color-bg-secondary: #1c2630;

  /* Accent */
  --color-accent: #b48f31;
  --color-accent-muted: #fbd079;
  --color-accent-secondary: #2ccbab;
  --color-accent-secondary-muted: #75d2bf;

  /* Border */
  --color-border: #303e4a;
  --color-separator: #b4c1d5;
  --color-separator-light: #b4c1d5;
  --color-separator-dark: #273344;

  /* Text */
  --color-text-header: #aabec5;
  --color-text-paragraph: #bdd9e1;
  --color-text-nav-link: #bdd9e1;
  --color-text-dimmed: #5c6c70;

  /* Panel */
  --color-panel-bg: #1c2630;
  --color-panel-text: #aabec5;
  --color-panel-border: #395365;

  /* Card */
  --color-card-bg: #161d27;
  --color-card-text: #aabec5;

  /* Tags */
  --color-tags-bg: #b48f31;
  --color-tags-text: #0d1117;
  --color-tags-border: #0d1117;

  /* Popover */
  --color-popover: #1c2630;

  /* Ring */
  --color-ring: #2ccbab;

  /* Table */
  --color-table-bg: #1c2630;
  --color-table-text: #aabec5;
  --color-table-row-bg-hover: #354755;
  --color-table-row-bg-odd: #1c2630;
  --color-table-row-bg-even: #354755;
  --color-table-border: #998da0;
  --color-table-border-muted: #395365;
  --color-table-header-bg: #303e4a;
  --color-table-header-text: #d0f3ea;

  /* Gradient */
  --color-gradient-light: linear-gradient(90deg, #2ccbab 0%, #59c1bb 100%);
  --color-gradient-dark: linear-gradient(90deg, #2ccbab 0%, #998da0 100%);

  /* Brand */
  --color-brand: #2ccbab;
  --color-brand-secondary: #59c1bb;

  /* Logo */
  --color-logo-bg: #303e4a;
  --color-logo-text: #b4c1d5;
  --color-logo-fg: #4dc6ad;
  --color-logo-dark: #303e4a;
  --color-logo-light: #b4c1d5;

  /* Status */
  --color-status-success: #2ccbab;
  --color-status-warning: #d9ae40;
  --color-status-error: #b04141;
  --color-status-info: #007bff;
  --color-status-success-muted: #75d2bf;
  --color-status-warning-muted: #fbd079;
  --color-status-error-muted: #f5b8b8;
  --color-status-info-muted: #5a9bd5;

  /* Alert */
  --color-destructive: #ef4444;
  --color-destructive-transparent: #ef44441a;
  --color-destrucitve-border: #7f1d1d;
  --color-destructive-foreground: #f0fdf9;

  /* progressbar */

  --color-progressbar-empty: #374a52;

  /* input */
  --color-input-background: #0d1117;
  --color-input-text: #bcd9e1;

  /* notes */
  --color-warning-muted-more: #514024;

  --color-warning-banner: #d8ae3f;

  /* auth */

  --color-background-auth: #23282f;

  /* JSON Editor */
  .svc-json-editor-tab__content-area {
    background-color: var(--color-bg);
  }
}

@keyframes custom-pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-custom-pulse {
  animation: custom-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
