@layer ui_base, ui_components_utils;

@layer ui_base {
  @import 'tailwindcss/base';

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [type='text']:focus,
  input:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: var(--colors-ring);
    border-color: var(--colors-ring);
  }
}

@layer ui_components_utils {
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
}

/* Ensures that icons scale with font size */
.button-icon svg {
  width: 1rem;
  height: 1rem;
}



/* Light Mode Colors */
:root {
  /* Button */
  --color-button: #2CCBAB;
  --color-button-muted: #75D2BF;
  --color-button-light: #E8F9F5;
  --color-button-text: #082930;
  --color-button-secondary: #D9AE40;

  /* Background */
  --color-bg: #e9f1f5;
  --color-bg-dark: #1C2630;
  --color-bg-light: #e9f1f5;
  --color-bg-primary: #2CCBAB;
  --color-bg-secondary: #ffffff;
  --color-bg-muted: #f5f9fa;

  /* Accent */
  --color-accent: #D9AE40;
  --color-accent-secondary: #2CCBAB;

  /* Border */
  --color-border: #d2e2e9;
  --color-border-light: #aabec5;
  --color-border-dark: #303E4A;
  --color-separator: #B4C1D5;
  --color-separator-light: #B4C1D5;
  --color-separator-dark: #273344;

  /* Text */
  --color-text-header: #303E4A;
  --color-text-paragraph: #505F6F;
  --color-text-dark: #1c2630;
  --color-text-light: #aabec5;
  --color-text-nav-link: #303E4A;

  /* Panel */
  --color-panel-bg: #FFFFFF;
  --color-panel-text: #303E4A;
  --color-panel-border: #E9C1BB;

  /* Card */
  --color-card-bg: #FFFFFF;
  --color-card-text: #303E4A;

  /* Tags */
  --color-tags-bg: #D9AE40;
  --color-tags-text: #082930;
  --color-tags-border: #082930;

  /* Popover */
  --color-popover: #FFFFFF;

  /* Ring */
  --color-ring: #2CCBAB;

  /* Table */
  --color-table-bg: #FFFFFF;
  --color-table-text: #303E4A;
  --color-table-row-bg-odd: #EAF0F3;
  --color-table-row-bg-even: #FFFFFF;
  --color-table-border-muted: #e9f1f5;
  --color-table-border: #B3C8D1;
  --color-table-header-bg: #F5F5F5;
  --color-table-header-text: #303E4A;

  /* Gradient */
  --color-gradient-light: linear-gradient(90deg, #2CCBAB 0%, #59C1BB 100%);
  --color-gradient-dark: linear-gradient(90deg, #2CCBAB 0%, #998DA0 100%);

  /* Brand */
  --color-brand: #2CCBAB;
  --color-brand-secondary: #59C1BB;

  --color-login-bg: #ffffff;
  --color-login-text: #303E4A;

  /* Status */
  --color-status-success: #2CCBAB;
  --color-status-warning: #F5CB5C;
  --color-status-error: #E05252;
  --color-status-info: #3498DB;
  --color-status-success-muted: #A3E3D4;
  --color-status-warning-muted: #FDE0AE;
  --color-status-error-muted: #f5b8b8;
  --color-status-info-muted: #5A9BD5;
}

/* Dark Mode Colors */
.dark {
  /* Button */
  --color-button: #2CCBAB;
  --color-button-muted: #75D2BF;
  --color-button-text: #082930;
  --color-button-secondary: #B48F31;

  /* Background */
  --color-bg: #0D1117;
  --color-bg-dark: #0D1117;
  --color-bg-muted: #161D27;
  --color-bg-secondary: #1C2630;

  /* Accent */
  --color-accent: #B48F31;
  --color-accent-secondary: #2CCBAB;

  /* Border */
  --color-border: #303E4A;
  --color-separator: #B4C1D5;
  --color-separator-light: #B4C1D5;
  --color-separator-dark: #273344;

  /* Text */
  --color-text-header: #aabec5;
  --color-text-paragraph: #bdd9e1;
  --color-text-nav-link: #bdd9e1;

  /* Panel */
  --color-panel-bg: #1C2630;
  --color-panel-text: #aabec5;
  --color-panel-border: #395365;

  /* Card */
  --color-card-bg: #161D27;
  --color-card-text: #aabec5;

  /* Tags */
  --color-tags-bg: #B48F31;
  --color-tags-text: #0D1117;
  --color-tags-border: #0D1117;

  /* Popover */
  --color-popover: #0D1117;

  /* Ring */
  --color-ring: #2CCBAB;

  /* Table */
  --color-table-bg: #1C2630;
  --color-table-text: #aabec5;
  --color-table-row-bg-hover: #354755;
  --color-table-row-bg-odd: #1C2630;
  --color-table-row-bg-even: #354755;
  --color-table-border: #998DA0;
  --color-table-border-muted: #395365;
  --color-table-header-bg: #303E4A;
  --color-table-header-text: #D0F3EA;

  /* Gradient */
  --color-gradient-light: linear-gradient(90deg, #2CCBAB 0%, #59C1BB 100%);
  --color-gradient-dark: linear-gradient(90deg, #2CCBAB 0%, #998DA0 100%);

  /* Brand */
  --color-brand: #2CCBAB;
  --color-brand-secondary: #59C1BB;

  /* Status */
  --color-status-success: #2CCBAB;
  --color-status-warning: #D9AE40;
  --color-status-error: #B04141;
  --color-status-info: #007BFF;
  --color-status-success-muted: #75D2BF;
  --color-status-warning-muted: #FBD079;
  --color-status-error-muted: #f5b8b8;
  --color-status-info-muted: #5A9BD5;
}